In [23]:
import json
import os
import pandas as pd
import numpy as np

## Load business.json and select rows that categories includes 'Steakhouses'.

In [24]:
with open('business.json', encoding='utf-8') as f:
    iter_f = iter(f)
    business = []
    for line in iter_f: 
        d = json.loads(line)
        if d['categories'] and 'Steakhouses' in d['categories']:
            business.append(list(d.values()))
    f.close()

In [25]:
col_names = list(eval(line).keys())
business_df = pd.DataFrame(business, columns=col_names)

In [26]:
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,BvYU3jvGd0TJ7IyZdfiN2Q,Manzetti's Tavern,6401 Morrison Blvd,Charlotte,NC,28211,35.156338,-80.831878,3.5,16,0,"{'Alcohol': 'u'full_bar'', 'BusinessAcceptsCre...","Sandwiches, Italian, American (Traditional), A...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
1,jtlAfuINMCYVFpjwMgy2jw,Medium Rare,5241 Dundas Street W,Toronto,ON,M9B 1A5,43.638879,-79.537632,4.0,22,0,"{'RestaurantsPriceRange2': '3', 'BikeParking':...","Grocery, Restaurants, Steakhouses, Butcher, Food","{'Tuesday': '9:0-18:0', 'Wednesday': '9:0-18:0..."
2,wdsGP5rJinx0J5GcGzPQUw,TJ's Steakhouse,3000 Paradise Rd,Las Vegas,NV,89109,36.136257,-115.151253,4.0,60,0,"{'RestaurantsTakeOut': 'False', 'RestaurantsDe...","Steakhouses, Restaurants",None
3,SZ5KO1KNiwtrktKo5mpuLA,Empress Court,3570 Las Vegas Blvd,Las Vegas,NV,89109,36.116156,-115.175058,3.5,21,0,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Seafood, Chinese, Steakhouses, Restaurants, It...",None
4,dGnjfY3KyeLg-nBQaT3Xqw,Auberge du Dragon Rouge,8870 Rue Lajeunesse,Montréal,QC,H2M 1R6,45.547262,-73.641411,4.5,39,1,"{'NoiseLevel': 'u'very_loud'', 'OutdoorSeating...","French, Dinner Theater, Burgers, Steakhouses, ...","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."

In [39]:
business_df.to_csv('business.csv', index=False)

## Save the business id to filter other json files.

In [27]:
business_id = business_df.business_id.tolist()

## Load tip.json

In [29]:
with open('tip.json', encoding='utf-8') as f:
    iter_f = iter(f)
    tip = []
    for line in iter_f: 
        d = json.loads(line)
        if d['business_id'] and d['business_id'] in business_id:
            tip.append(list(d.values()))
    f.close()

In [30]:
col_names = list(eval(line).keys())
tip_df = pd.DataFrame(tip, columns=col_names)

In [31]:
tip_df.head()

,user_id,business_id,text,date,compliment_count
0,FuTJWFYm4UKqewaosss1KA,TkoyGi8J7YFjA6SbaRzrxg,The setting and decoration here is amazing. Co...,2014-03-23 21:32:49,0
1,gtwM4ijo65AN4DvXdgCu_w,19umlhmVB9O3njIBfRAe8g,Hey mom look at me! I'm Nancy friggen' Kerrigan!!,2014-08-24 03:56:50,1
2,AIHzJz0AvTq0FxCLtBhOZA,yNPh5SO-7wr8HPpVCDPbXQ,Yet another Business Journal event.,2012-03-23 00:07:55,0
3,uPDo46xDK_DDqMChG-wYaw,6oKZoCI_0ePyzfRqSFMBig,One of my favorite places!!,2014-06-08 02:20:51,0
4,wxeTtPILiMl1L-yBB-D2HA,1hkksm102yQY1DyfTPSzmA,Dinner time! Really just to make Katie happy. ;),2011-04-17 00:31:47,0

In [34]:
tip_df.shape

(38980, 5)

In [40]:
tip_df.to_csv('tip.csv', index=False)

## Load review.json

In [35]:
with open('review.json', encoding='utf-8') as f:
    iter_f = iter(f)
    review = []
    for line in iter_f: 
        d = json.loads(line)
        if d['business_id'] in business_id:
            review.append(list(d.values()))
    f.close()

In [36]:
col_names = list(eval(line).keys())
review_df = pd.DataFrame(review, columns=col_names)

In [37]:
review_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,VeJppsRLTWRKh4PkmcOzag,eJEcCIzJ5bqc0QpRGHSVCw,6xgcHeLad-VaoTIQewK84A,4.0,0,0,1,ooooooh yummy. i'm a red meat eating midweste...,2006-04-14 04:37:51
1,JYdhCDyR6lYfN2qnSspLlQ,6kEFHccntnYMF_7cdqCcKg,yNPh5SO-7wr8HPpVCDPbXQ,5.0,0,0,0,First off food is DELICIOUS! By far my favorit...,2017-04-30 05:32:05
2,_LPOtmfWnL_8_tL3ImhoLw,91DAiIKXri-41uzYue2hlg,w6F502EKMyn3ONbGT2bQxw,5.0,1,0,1,Not sure why some posted negative reviews of t...,2015-08-30 13:17:23
3,NFlW7_5bOPkR2Nz8t9d2Sw,qkQ5iVnEdqSxjd3faoRTpw,Kz4WS00PcqOJgxfZawk4dQ,4.0,0,0,1,"I love Pizza, but I try to stay away for dieta...",2013-12-07 01:41:25
4,kz-EVInXbGuDwglTZhig3w,XQDfhRd54J7OgimNNxdAcg,0xyqLvtr0Zbr4G-gML-QmQ,3.0,0,0,0,I'm not that pleased with this experience. For...,2015-05-26 06:43:03

In [38]:
review_df.shape

(243536, 9)

In [ ]:
review_df.to_csv('review.csv', index=False)

In [42]:
print(business_df.shape)
print(tip_df.shape)
print(review_df.shape)

(1603, 14)
(38980, 5)
(243536, 9)